---
import Navbar from "../components/Navbar.astro";
import Footer from '../components/Footer.astro';
import { identity, skills } from '../js/data.js';
import '../styles/global.css';
---

<Navbar />

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg +xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content= {Astro.generator}/>
		<title>Astro</title>
	</head>
	<body>
		<p>Quelques informations sur moi :</p>
<ul>
  <li>Mon nom est {identity.firstName}.</li>
  <li>Je vis en {identity.country} et je travaille comme {identity.occupation}.</li>
  {identity.hobbies.length >= 2 &&
    <li>Deux de mes hobbies sont : {identity.hobbies[0]} and {identity.hobbies[1]}</li>
  }
</ul>
<p>Mes skills sont :</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>
  <Footer />
	</body>
</html>